{% extends "patienthome.html" %} {% block content %}
<center>
  <div class="card mb-3" style="max-width: 540px; margin-top: 10rem">
    <div class="row">
      {% for i in data %}

      <div class="col-md-8">
        <div class="card-body">
          <center>
            <h3>Profile</h3>
            <h5 class="card-title">Name : {{i[1]}}</h5>
            <h5 class="card-title">Email : {{i[2]}}</h5>
            <h5 class="card-title">Contact : {{i[3]}}</h5>
            <h5 class="card-title">Address : {{i[4]}}</h5>
          </center>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</center>
{% endblock %}
